.root {
  color: pink;
  background: gray;

  &--active {
    background: pink;
    color: gray;
  }

  &__active {
    color: red;
    background: blue;
  }
}

.root-test {
  content: 'test';
}

.root--pressed {
  content: 'pressed';
}

.root__pressed {
  content: 'pressed';
}

.link {
  color: blue;
}

.big-btn {
  color: green;
}

.smallBtn {
  color: purple;
}
