.wrapper {
  display: flex;
  flex: 1 1 auto;
}

.button {
  color: yellow;
  
  &_active {
    color: red;
  }
  
  &__red-icon {
    color: blue;

    &_active {
      color: green;
    }
  }
}

.component {
  $self: &; // Hey look, it's our new best friend!
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
  position: relative;
  background: rebeccapurple;
  min-width: 50%;
  
  &--is-reversed {
    background: white;
    border-color: lightgray;
  }

  &__child-element {
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: white;
  }
}

